@import "../../../colors.scss";

.tile {
  height: 400px;
  width: 224px;
  font-family: Gotham, sans-serif;
  color: #333333;
  margin: 0;
  vertical-align: top;

  .imageDiv {
    height: 100px;
    width: 200px;
    padding-left: 28px;

    .carImage {
      display: block;
      padding-top: 15px;
    }
  }

  p {
    padding-left: 18px;
    padding-right: 18px;
  }

  .year {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.68px;
    margin: 0;
  }

  .make-model {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1.21px;
    margin: 0;
  }

  .label {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.73px;
    margin-bottom: 3px;
  }

  .value {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: -0.73px;
    margin: 0;
  }

  .label.charge {
    margin-top: 0;
  }

}
