@import "../../../colors.scss";

.tile {
  height: 310px;
  width: 315px;
  font-family: Gotham, sans-serif;
  background-color: $white;
  display: inline-block;
  margin-left: 8px;
  margin-right: 7px;
  margin-bottom: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  vertical-align: top;
  text-align: left;
  color: #333333;

  .imageDiv {
    height: 100px;
    width: 315px;
    text-align: center;

    .carImage {
      padding-top: 15px;
    }
  }

  p {
    padding-left: 18px;
    padding-right: 18px;
    word-wrap: word;
    margin: 0;
  }

  .year {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.68px;
    margin: 0;
    display: block;
  }

  .make-model {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1.21px;
    margin: 0;
    display: block;
  }

  .stat {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-top: 10px;

    p {
      padding-left: 18px;
      padding-right: 8px;
      width: 127px;
      margin: 0;
    }


    .label {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.73px;
      margin-bottom: 3px;
    }

    .value {
      font-weight: 200;
      font-size: 14px;
      letter-spacing: -0.73px;
    }

    .label.charge {
      margin-top: 0;
    }
  }
}

.unavailable {
  opacity: 0.28;
}

.selected {
  border: 2px solid $pink;
}
