@import "../../../../colors.scss";
@import "../../../../mixins.scss";

.form-container {
    background-color: white;
    text-align: center;
}

.mat-form-field {
    margin: 10px;
}

.mat-raised-button {
    width: 128px;
    height: 47px;
    background-color: $pink;
    color:white
    
}

app-spinner {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 37px;
  }