<jw-modal id="pin-modal">
    <div class="pin-pane" *ngIf="selectedCar">
      <p>Please enter your PIN to {{selectedCar.active ? "Deactivate" : "Activate"}} the</p>
      <p class="model-confirm">{{selectedCar.make}} {{selectedCar.model}}</p>
      <input type="password" class="pin" [(ngModel)]="pin">
      <br>
      <p class="pin-error" *ngIf="showPinError">
        Incorrect PIN, please try again.
      </p>
      <div class="close-button" (click)="closeModal('pin-modal')">
        <p>Close</p>
      </div>
      <div class="confirm-button" (click)="doChangeVehicleState()">
        <p *ngIf="!isSubmitting">{{selectedCar.active ? "Deactivate" : "Activate"}} Vehicle</p>
        <app-spinner *ngIf="isSubmitting"></app-spinner>
      </div>
    </div>
  </jw-modal>

<div class="adminPane">
  <app-header title="Manage Vehicles" [links]="links"></app-header>
  <div class="cars-container">
    <div class="cars-pane-container">
      <div class="cars-pane">
        <div class="car-tile-adds" *ngFor="let car of cars" >
          <span *ngIf="car.make != 'Other'">
          <car-tile 
            id="{{ car.tileId }}" 
            [car]="car" 
            (click)='doSelectCar(car)' 
            [collapsed]='false'
            [showInactive]='true'>
          </car-tile> 
        </span>
      </div>
      </div>
    </div>
  </div>
</div>