
<mat-card class="metricsCard">
    <mat-card-header>
      <mat-card-title>Drive Summary Metrics</mat-card-title>
      <mat-card-subtitle>For PGA</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="sourceData" class="overflow">
      <table mat-table [dataSource]="rows" class="mat-elevation-z8 metricsTable">

        <ng-container matColumnDef="week">
          <th mat-header-cell *matHeaderCellDef> Week Of </th>
          <td mat-cell *matCellDef="let thing"> {{thing.weekLabel}} </td>
          <td mat-footer-cell *matFooterCellDef> Totals: </td>
        </ng-container>

        <ng-container matColumnDef="drives">
          <th mat-header-cell *matHeaderCellDef> Week Total <br/>Drives </th>
          <td mat-cell *matCellDef="let thing"> {{thing.totalDrives}} </td>
          <td mat-footer-cell *matFooterCellDef> {{totals.get('allDrives')}} </td>
        </ng-container>

        <ng-container matColumnDef="optins">
          <th mat-header-cell *matHeaderCellDef> Week Total <br/>Opt-Ins </th>
          <td mat-cell *matCellDef="let thing"> {{thing.totalOptIns}} </td>
          <td mat-footer-cell *matFooterCellDef> {{totals.get('allOptIns')}} </td>
        </ng-container>

        <div *ngFor="let car of cars; let i = index">
          <ng-container  matColumnDef="{{car}}Drives">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'offColumn': (i%2 == 0)}"> {{car}}<br/>Drives </th>
            <td mat-cell *matCellDef="let thing" [ngClass]="{'offColumn': (i%2 == 0)}"> {{thing.carSummary.get(car).drives}} </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'offColumn': (i%2 == 0)}"> {{totals.get(car).drives}} </td>
          </ng-container>
          <ng-container  matColumnDef="{{car}}OptIns">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'offColumn': (i%2 == 0)}"> {{car}}<br/>Opt-Ins </th>
            <td mat-cell *matCellDef="let thing" [ngClass]="{'offColumn': (i%2 == 0)}"> {{thing.carSummary.get(car).optIns}} </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'offColumn': (i%2 == 0)}"> {{totals.get(car).optIns}} </td>
          </ng-container>
        </div>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr mat-footer-row *matFooterRowDef="columns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="doExport()" class="export">Export</button>
    </mat-card-actions>
  </mat-card>