
<jw-modal id="cancel-modal">
  <div id="cancel-pane" class="cancel-pane">
    <h1 class="header-text">Are you sure you want to cancel your ride?</h1>
  
    <div class="no" (click)="closeModal('cancel-modal')">
      <p>No, do not cancel my ride</p>
    </div>
    
    <div class="yes" (click)="doCancelConfirm()">
      <p>Yes, cancel my ride</p>
    </div>
  </div>
</jw-modal>

<jw-modal id="error-modal">
  <div id="error-pane" class="error-pane">
    <h1 class="header-text">An error occurred, please try again.</h1>

    <div class="ok" (click)="closeModal('error-modal')">
      <p>OK</p>
    </div>
  </div>
</jw-modal>

<div class="car-review-screen">

  <app-header title="Schedule Your Drive"></app-header>

  <div class="car-review-pane" *ngIf="selectedCar && selectedTime">

    <p class="review-text">Review your scheduled drive below.</p>

    <div class="car-pane">
      <div class="pane-header">
        <p class="top">Selected</p>
        <div class="partial-rule"></div>
        <p class="bottom">{{ selectedTime.formattedDate }} {{ selectedTime.formattedTime }}</p>
      </div>

      <car-tile
        [car]="selectedCar">
      </car-tile>

      <div class="edit" (click)="doEdit()">
        <p>Edit</p>
      </div>
    </div>
  </div>

  <div class="footer">

    <div class="cancel" (click)="doCancel()">
      <p>Cancel</p>
    </div>

    <div
      class="next"
      (click)="doSubmit()"
      [ngClass]="{'disabled': isSubmitting }">
      <p>
        {{ isSubmitting ? "" : "Next "}}
        <img src="assets/arrow.png" *ngIf="!isSubmitting">
      </p>
      <app-spinner *ngIf="isSubmitting" color="white"></app-spinner>
    </div>

  </div>
</div>
