@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/Gotham-Light.otf');
}

