<div class="welcomeScreen">
  <div class="headerImage">
    <img class="scLogo" src="assets/scLogoLarge.svg">
    <div class="welcomePane">
      <h1 class="titleText">Test Drive an<br>Electric Vehicle<br>Today!</h1>
      <p class="getStartedText">To get started, tap the button below.</p>
      <a routerLink="/checkin/registration" class="scheduleDriveLink">
        <div class="scheduleDriveButton">
          <p class="scheduleDriveButtonText">Schedule Your Drive</p>
        </div>
      </a>
    </div>
    <div class="returnElement">
      <a class="returnLink" routerLink="/checkout" >
          Returning Driver
      </a>
    </div>
  </div>
  <div class="bottomHalf">

  </div>
</div>