
<jw-modal id="pin-modal">
  <div class="pin-pane">
    <p>Please enter your PIN</p>
    <input type="password" class="pin">
    <br>
    <p class="pin-error" *ngIf="showPinError">
      Incorrect PIN, please try again.
    </p>
    <div class="close-button" (click)="closeModal('pin-modal')">
      <p>Close</p>
    </div>
    <div class="confirm-button" (click)="doCancelRide()">
      <p *ngIf="!isSubmitting">Cancel Ride</p>
      <app-spinner *ngIf="isSubmitting"></app-spinner>
    </div>
  </div>
</jw-modal>

<jw-modal id="error-modal">
  <div id="error-pane" class="error-pane">
    <h1 class="header-text">An error occurred, please try again.</h1>

    <div class="ok" (click)="closeModal('error-modal')">
      <p>OK</p>
    </div>
  </div>
</jw-modal>

<div class="schedule-screen">
  <div class="header">
    <img class="scLogo" src="assets/scLogo.svg">
    <p class="title-text">{{ formattedDate }}</p>
  </div>

  <div class="schedule-pane">
      <table>
        <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Confirmation #</th>
              <th scope="col">Driving</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let slot of schedule">
            <td data-label="Time" class="time"><p class="timeText">{{ slot.formattedTime }}</p></td>

              <td data-label="Driver Name">{{ slot.first_name }}</td>
              <td data-label="Driver Email">{{ slot.email }}</td>
              <td data-label="Confirmation Number">{{ slot.confirmation_number }}</td>
              <td data-label="Vehicle Info">{{slot.year}} {{slot.make}} {{slot.model}}</td>
              <td>
                <div class="button-bar" id="{{slot.confirmation_number}}">
                    <div class="button-container"
                        (click)="doCheckout(slot.confirmation_number)"
                        (disabled)="isSubmitting">
                      <img class="option-button" *ngIf="!isSubmitting" src="assets/answer.svg">
                      <app-spinner *ngIf="isSubmitting"></app-spinner>
                    </div>
                    <div class="button-container" (click)="doCancel(slot.confirmation_number)" (disabled)="isSubmitting">
                      <img class="option-button" src="assets/cancel.svg">
                    </div>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
