@import "../../../colors.scss";
@import "../../../error.scss";
@import "../../../mixins.scss";

.pin-pane {
  background-color: #FFFFFF;
  text-align: center;
  font-family: Gotham, sans-serif;
  margin: 0;
  width: 450px;
  height: 210px;

  p {
    color: #333333;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.46px;
    margin: 0;
    padding-top: 20px;
  }

  .pin-error {
    color: $pink;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .pin-error.hidden {
    display: none;
  }

  input {
    border: 1px solid #252525;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .confirm-button,
  .close-button {
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 52px;
    background-color: #252525;
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 rgba(63, 63, 64, 0.22);
    cursor: pointer;
    vertical-align: middle;

    p {
      color: #FFFFFF;
      display: inline-block;
      margin: 0;
      padding-top: 15px;
    }
    app-spinner {
      padding-top: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .close-button {
    margin-right: 50px;
  }
}

.schedule-screen {
  background-color: $backgroundGray;
  font-family: Gotham, sans-serif;
  margin: 0;
  width: 100vw;
  height: 95vh;
  position: relative;

  .header {
    @include header-for-tablet;

    .scLogo {
      @include sc-logo-for-tablet;
    }

    .title-text {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 21px;
      letter-spacing: -0.43px;
      text-transform: uppercase;
      margin: 0;
      padding-top: 22px;
    }
  }

  .schedule-pane {
    margin: 0;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;

    .time-slot {
      width: calc(100vw - 51px);
      height: 77px;
      margin-bottom: 8px;
      text-align: left;
      vertical-align: middle;

      .time {
        background-color: #000000;
        width: 140px;
        height: 77px;
        display: inline-block;
        margin: 0;
        text-align: center;
        vertical-align: middle;

        p {
          color: #FFFFFF;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: -1.21px;
          margin: 0;
          margin-top: 23px;
          display: inline-block;
          text-align: center;
        }
      }

      .driver-info {
        background-color: #FFFFFF;
        height: 54px;
        width: calc(100vw - 200px);
        border: 1px solid #C7C7C7;
        border-left: none;
        margin: 0;
        padding-top: 23px;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        .stat-pane {
          height: 54px;
          min-width: 135px;
          margin: 0;
          margin-left: 30px;
          text-align: left;
          display: inline-block;

          p {
            display: block;
            margin: 0;
          }

          .label {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: -0.73px;
          }

          .value {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.73px;
          }
        }

        .stat-pane.hidden {
          display: none;
        }

        .name-pane {
          min-width: 80px;
        }

        .car-pane {
          width: 200px;
        }

        .email-pane {
          width: 225px;
        }

        .pin-pane {
          .pin {
            border-radius: 3px;
            border: 1px solid #333333;
          }
        }

        .more-pane {
          position: absolute;
          right: 20px;
          top: 24px;

          .spacer {
            display: none;
          }

          .more-button {
            height: 29px;
            width: 54px;
            text-align: center;

            .dot {
              background-color: $pink;
              height: 5px;
              width: 5px;
              border-radius: 50%;
              margin-right: 5px;
              display: inline-block;
            }
            .dot:last-child {
              margin: 0;
            }
          }
          .checkout-button,
          .cancel-button {
            display: none;
          }
        }
        .more-pane.open {
          background-color: #transparent;
          text-align: right;
          z-index: 1;

          .spacer {
            display: inline-block;
            width: 116px;
          }
          
          .more-button {
            display: inline-block;
            background-color: #252525;

            .dot {
              background-color: #FFFFFF;
            }
          }

          .horizontal-rule {
            background-color: #4A4A4A;
            display: block;
            width: 170px;
            height: 1px;
          }

          .checkout-button,
          .cancel-button {
            background-color: #252525;
            height: 62px;
            width: 170px;
            margin: 0;
            display: block;
            text-align: center;
            cursor: pointer;

            p {
              color: #FFFFFF;
              font-size: 17px;
              margin: 0;
              padding-top: 21px;
              padding-left: 20px;
              text-align: left;
            }

            app-spinner {
              padding-top: 20px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
