
<jw-modal id="cancel-modal">
  <div id="cancel-pane" class="cancel-pane">
    <h1 class="header-text">Are you sure you want to cancel your ride?</h1>
  
    <div class="no" (click)="closeModal('cancel-modal')">
      <p>No, do not cancel my ride</p>
    </div>
    
    <div class="yes" (click)="doCancelConfirm()">
      <p>Yes, cancel my ride</p>
    </div>
  </div>
</jw-modal>

<jw-modal id="loading-modal" class="ignore-close">
  <app-spinner></app-spinner>
</jw-modal>

<jw-modal id="error-modal">
  <div id="error-pane" class="error-pane">
    <h1 class="header-text">An error occurred, please try again.</h1>

    <div class="ok" (click)="closeModal('error-modal')">
      <p>OK</p>
    </div>
  </div>
</jw-modal>

<div class="survey-page">

  <div class="header">
    <img class="scLogo" src="assets/scLogo.svg">
    <p class="title-text">{{ surveyType }}-Survey</p>
  </div>

  <div id="survey-pane-container" class="survey-pane-container">
    <p class="intro-text">By answering the following questions below, you will help us better understand how to share information around electric vehicles with the public. Your data will be anonymized and supports cutting-edge research.</p>

    <h1 class="question-header">{{ questionHeaderText }}</h1>

    <div class="question-pane" *ngFor="let question of questions">
      <p class="question-text" *ngIf="showQuestionText">
        {{ question.text }}
      </p>
      <div class="question-option-button-pane" *ngIf="question.type === 'MC'">
        <div
          class="question-option-pane"
          *ngFor="let option of question.surveyQuestionOptions">

          <div
            class="question-option-button"
            [ngClass]="{'has-text': option.free_form == 1}"
            (click)="doQuestionOptionSelect(option)">

            <p>{{ option.text }}</p>

          </div>
          <div
            class="question-option-text hidden"
            *ngIf="option.free_form == 1">

            <textarea
              id="{{option.id}}"
              class="text-entry"
              placeholder="Please specify"
              rows="1"></textarea>

          </div>
        </div>
          
      </div>

      <div class="question-option-slider-pane" *ngIf="question.type === 'SCALE'">
        <mat-slider
          class="question-slider"
          [disabled]="false"
          [invert]="false"
          [max]="question.surveyQuestionOptions.length"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [tickInterval]="1"
          [(ngModel)]="sliderValues[question.order_index]"
          [vertical]="false">
        </mat-slider>
        <br>
        <div class="helper-texts">
          <p class="one">{{ sliderTextLow }}</p>
          <p class="seven">{{ sliderTextHigh }}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="horizontal-rule"></div>

    <div class="question-tracker">
      <img
        class="backArrow"
        src="assets/backArrow.svg"
        (click)="doBack()">
      <p>Question {{pageDisplayId}} / {{totalQuestions}}</p>
    </div>

    <div class="cancel" (click)="doCancel()">
      <p>Cancel</p>
    </div>

    <div class="next"
      (click)="doNext(null)"
      *ngIf="nextVisible"
      [ngClass]="{'disabled': (!textVisible) && sliderValues.length !== questions.length }">

      <p>Next <img src="assets/arrow.png"></p>
    </div>
  </div>
</div>
