.App {
}

.App-header {
  background-color: #222;
  height: 55pt;
  color: white;
}

.App-logo {
  float: left;
  padding: 0px 0px 0px 16px;
}

.App-header-text {
  text-align: center;
  font-size: 1.5em;
  padding: 15pt 0pt 0pt 67pt;
  text-transform: uppercase;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50pt;
  background-color: white;
  color: black;
  border-top: rgba(206,206,206,1) 1pt solid;
}

.App-footer-text {
  float: right;
  padding-right: 20pt;
}
