@import "../../../colors.scss";
@import "../../../cancel.scss";
@import "../../../mixins.scss";

.car-selection-screen {
  background-color: $backgroundGray;
  width: 100vw;
  height: 100vh;
  scroll-behavior: auto;
  overflow: auto;
  font-family: Gotham, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
 
  .header {
    @include header-for-tablet;

    .scLogo {
      @include sc-logo-for-tablet;
    }

    .title-text {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 21px;
      letter-spacing: -0.43px;
      text-transform: uppercase;
      margin: 0;
      padding-top: 22px;
    }

    .reset {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: -0.46px;
      margin: 0;
      position: absolute;
      right: 48px;
      top: 25px;
    }
  }

  .times-container {
    height: calc(100vh - 156px);
    width: 300px;
    display: inline-block;
    margin: 0;
    overflow: scroll;
    float: left;
    

    .times-pane {
      background-color: #FFFFFF;
      color: #333333;
      display: inline-block;
      text-align: center;
      min-height: calc(100vh - 185px);
      width: 300px;
      padding-bottom: 25px;
      scroll-behavior: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      vertical-align: top;

      .times-header {
        display: block;
        vertical-align: middle;
        margin-top: 32px;
        
        .calendarLogo {
          height: 39px;
          width: 41px;
          display: inline-block;
        }

        .header-text {
          font-weight: 500;
          font-size: 17px;
          letter-spacing: -0.82px;
          margin: 0;
          margin-top: -31px;
          margin-left: 7px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .no-rides,
      .date {
        color: #333333;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: -1.21px;
        text-align: center;
      }

      .no-rides.hidden,
      .date.hidden {
        display: none;
      }


      .time {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -1.26px;
        text-align: center;
        display: inline-block;
        width: 100px;
        height: 50px;
        margin-top: 12px;
        margin-bottom: 11px;
        margin-left: 12px;
        margin-right: 13px;
        border: 2px solid #000000;
        border-radius: 5px;

        p {
          margin: 0;
          padding-top: 17px;
          text-align: center;
        }
      }

      .time.disabled,
      .time.unavailable {
        opacity: 0.28;
      }

      .time.selected {
        color: #FFFFFF;
        background-color: $pink;
        border: 2px solid $pink;
      }
    }
  }

  .cars-container {
    height: calc(100vh - 164px);
    display: inline-block;
    margin: 0;
    overflow: scroll;
    scroll-behavior: auto;

    .cars-pane-container {
      width: calc(100vw - 330px);
      padding-bottom: 25px;
      text-align: center;

      .cars-pane {
        background-color: $backgroundGray;
        display: inline-block;
        text-align: center;

        .cars-header {
          display: block;
          padding-top: 32px;
          padding-bottom: 30px;

          .carLogo {
            height: 30px;
            width: 41px;
            display: inline-block;
          }

          .header-text {
            font-weight: 500;
            font-size: 17px;
            letter-spacing: -0.82px;
            margin: 0;
            margin-top: -15px;
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
          }
        }

        .car-tile {
          background-color: #FFFFFF;
          display: inline-block;
          margin-left: 8px;
          margin-right: 7px;
          margin-bottom: 20px;
          border: 2px solid #000000;
          border-radius: 3px;
          vertical-align: top;
          text-align: left;
        }

        .car-tile.disabled,
        .car-tile.unavailable {
          opacity: 0.28;
        }

        .car-tile.selected {
          border: 4px solid $pink;
          margin-top: -1px;
          margin-left: 6px;
          margin-right: 5px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .footer {
    background-color: #FFFFFF;
    height: 90px;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    float: bottom;

    .horizontal-rule {
      height: 1px;
      width: 100vw;
      margin: 0;
      background-color: #CECECE;
    }

    .cancel {
      height: 50px;
      width: 165px;
      margin-right: 10px;
      margin-top: 20px;
      vertical-align: middle;
      display: inline-block;

      p {
        color: #333333;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -0.46px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .next {
      background-color: $pink;
      border-radius: 5px;
      height: 50px;
      width: 130px;
      margin-right: 40px;
      margin-top: 20px;
      text-align: center;
      vertical-align: middle;
      box-shadow: 4px 4px 0 0 #D5D3D6;
      display: inline-block;

      p {
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: -0.57px;
        margin: 0;
        padding-top: 12px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        img {
          text-align: center;
          vertical-align: middle;
        }

      }
      app-spinner {
        text-align: center;
        vertical-align: middle;
      }
    }
    .next.disabled {
      opacity: 0.28;
    }
  }
}
