
<jw-modal id="cancel-modal">
  <div id="cancel-pane" class="cancel-pane">
    <h1 class="header-text">Are you sure you want to cancel your ride?</h1>

    <div class="no" (click)="closeModal('cancel-modal')">
      <p>No, do not cancel my ride</p>
    </div>

    <div class="yes" (click)="doCancelConfirm()">
      <p>Yes, cancel my ride</p>
    </div>
  </div>
</jw-modal>

<div class="car-selection-screen">
    
  <app-header title="Schedule Your Drive"><p class="reset phone-invisible" (click)="doReset()">Clear All</p></app-header>
  <div class="times-container">
    <div class="times-pane">
      <div class="times-header">
          <div class="clear tablet-up-invisible" (click)="doReset()">
              <div class="clear-mobile">Clear</div>
          </div>
        <div>
          <img class="calendarLogo" src="assets/calendarLogoBlack.svg">
          <p class="header-text">Select a Time</p>
        </div>
      </div>

      <div class="date">
        <p>{{ formattedDate }}</p>
      </div>

      <div class="no-rides hidden">
        <p>Sorry, there are no rides available for this date.</p>
      </div>
      <div class="time-box">
        <div
          class="time"
          *ngFor="let time of times"
          id="{{ time.tileId }}"
          [ngClass]="{'disabled': time.disabled}"
          (click)="doSelectTime(time.tileId)">

          <p>{{ time.formattedTime }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cars-container">
    <div class="cars-pane-container">
      <div class="cars-pane">
        <div class="cars-header">
          <img class="carLogo" src="assets/carLogo.svg">
          <p class="header-text">Select a Car</p>
        </div>
        <car-tile
          id="{{ car.tileId }}"
          class="car-tile"
          *ngFor="let car of cars"
          [car]="car"
          (click)='doSelectCar(car.tileId)'>
        </car-tile>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="horizontal-rule"></div>
    <div class="cancel" (click)="doCancel()">
      <p>Cancel</p>
    </div>

    <div
      class="next"
      (click)="doSubmit()"
      [ngClass]="{'disabled': !selectedCar || !selectedTime}">
      <p>
        {{ isSubmitting ? "" : "Next "}}
        <img src="assets/arrow.png" *ngIf="!isSubmitting">
      </p>
      <app-spinner *ngIf="isSubmitting"></app-spinner>
    </div>
  </div>

</div>
