<div class="button-container" [ngClass]="{'expanded':!collapsed}">
    <span *ngIf="!collapsed">
        <button mat-icon-button *ngFor="let link of links" routerLink="{{link.route}}" >
            <i class="material-icons">
                {{link.icon}}
            </i> 
        </button>   
    </span>  
    <button mat-icon-button (click)="collapsed = !collapsed" class="menu-button">
        <i class="material-icons">
                {{collapsed ? 'menu' : 'close'}}
        </i> 
    </button>  
</div>
