<div class="checkout-welcome-page">
  <div class="headerImage">
    <img class="scLogo" src="assets/scLogoLarge.svg">
    <div class="welcomePane">
      <h1 class="titleText">Welcome back<br>from your ride.</h1>
      <p class="getStartedText">Enter your email or confirmation number below to answer a few questions before you go.</p>

      <form
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="doSubmit()"
        class="login">

        <div class="login-form">
          <div class="questions">

            <text-field
              class="email"
              [questionId]="'email'"
              [type]="'email'"
              [question]="'Email'"
              [required]="false"
              [group]="loginForm"
              [formSubmitted]="formSubmitted">
            </text-field>

            <p>OR</p>

            <text-field
              class="confirmation-number"
              [questionId]="'confirmationNumber'"
              [type]="'text'"
              [question]="'Confirmation Number'"
              [required]="false"
              [group]="loginForm"
              [formSubmitted]="formSubmitted">
            </text-field>

          </div>
        </div>

        <p id="error" class="error hidden">Sorry, no user was found. Please try again.</p>

        <button 
          class="submit" 
          [disabled]="!loginForm.valid || formSubmitted || !formValid()"
          [ngClass]="{'disabled': !loginForm.valid || formSubmitted || !formValid()}">
            {{ formSubmitted ? '' : 'START' }}
            <app-spinner *ngIf="formSubmitted"></app-spinner>
        </button>

      </form>
    </div>
  </div>
  <div class="bottomHalf">
  </div>
</div>
