@import "../../../../colors.scss";
@import "../../../../error.scss";
@import "../../../../mixins.scss";
.editForm {
    display: flex;
    justify-content: space-around;
    margin-top:17px;
}

.submit-button {
    height:50%;
}
  
.white {
    background-color: $white;
}