<div class="welcomeScreen">
    <div class="headerImage">
      <img class="scLogo" src="assets/scLogoLarge.svg">
      <div class="welcomePane">
        <h1 class="titleText">Notice</h1>
        <p class="getStartedText">Due to COVID-19, test drives are not available at this time.</p>
      </div>
      <div class="returnElement">
        <a class="returnLink" href="https://smart.columbus.gov/" >
            Return to Smart Columbus
        </a>
      </div>
    </div>
    <div class="bottomHalf">
  
    </div>
  </div>