<div
  [formGroup]="group"
  class="form-group">

  <label
    class="question"
    for="{{questionId}}">{{question}}<span *ngIf="required" class="required">*</span>
  </label>

  <input
    *ngIf="type != 'select'"
    id="{{questionId}}"
    formControlName="{{questionId}}"
    type="{{type}}"
    class="form-control field"
    autocomplete="off"
    [ngClass]="{'has-danger': hasDanger(), 'has-warning': hasWarning()}">

  <select
    *ngIf="type == 'select'"
    id="{{questionId}}"
    formControlName="{{questionId}}"
    class="form-control field"
    autocomplete="off"
    [ngClass]="{'has-danger': hasDanger(), 'has-warning': hasWarning()}"
    [value]="options[0]">
    <option *ngFor="let option of options" [value]="option" [selected]="options.indexOf(option) == 0">{{option}}</option>
  </select>

  <div class="form-errors danger">
    <div class="form-control-feedback">
      <p>{{ hasDanger() ? question + " is required." : "" }}</p>
    </div>
  </div>
  <div class="form-errors warning">
    <div class="form-control-feedback">
      <p>{{ hasWarning() ? "The " + question + " entered is not valid." : "" }}</p>
    </div>
  </div>
</div>
