
<jw-modal id="cancel-modal">
  <div id="cancel-pane" class="cancel-pane">
    <h1 class="header-text">Are you sure you want to cancel your ride?</h1>
  
    <div class="no" (click)="closeModal('cancel-modal')">
      <p>No, do not cancel my ride</p>
    </div>
    
    <div class="yes" (click)="doCancelConfirm()">
      <p>Yes, cancel my ride</p>
    </div>
  </div>
</jw-modal>

<jw-modal id="error-modal">
  <div id="error-pane" class="error-pane">
    <h1 class="header-text">An error occurred, please try again.</h1>

    <div class="ok" (click)="closeModal('error-modal')">
      <p>OK</p>
    </div>
  </div>
</jw-modal>

<div class="screen">


  <div class="header">
    <a class="returnLink" routerLink="/checkin"> <img class="scLogo" src="assets/scLogo.svg"> </a>
    <div class="pageTitle">
      <h1>Schedule Your Drive</h1>
    </div>
  </div>

  <form
    autocomplete="off"
    [formGroup]="applicationForm"
    (ngSubmit)="doSubmit()"
    class="questionnaire">

    <div class="content">

      <div class="formHeader">
        <img class="carLogo" src="assets/carLogo.svg">
        <p>Fill out your driver information below.</p>
      </div>
    
      <div class="questions">

        <text-field
          class="first-name"
          [questionId]="'firstName'"
          [type]="'text'"
          [question]="'First Name'"
          [required]="true"
          [group]="applicationForm"
          [formSubmitted]="formSubmitted">
        </text-field>
    
        <text-field
          class="last-name"
          [questionId]="'lastName'"
          [type]="'text'"
          [question]="'Last Name'"
          [required]="true"
          [group]="applicationForm"
          [formSubmitted]="formSubmitted">
        </text-field>
    
        <text-field
          class="zip"
          [questionId]="'zip'"
          [type]="'number'"
          [question]="'Zip'"
          [required]="true"
          [group]="applicationForm"
          [formSubmitted]="formSubmitted">
        </text-field>

        <br>
    
        <text-field
          class="email"
          [questionId]="'email'"
          [type]="'email'"
          [question]="'Email'"
          [required]="true"
          [group]="applicationForm"
          [formSubmitted]="formSubmitted">
        </text-field>
    
        <text-field
          class="phone"
          [questionId]="'phone'"
          [type]="'tel'"
          [question]="'Phone'"
          [required]="true"
          [group]="applicationForm"
          [formSubmitted]="formSubmitted">
        </text-field>
    
      </div>
    </div> 

    <div class="footer">
      <div class="horizontal-rule"></div>

      <div
        class="cancel"
        (click)="doCancel()">
          <p>Cancel</p>
      </div>

      <button 
        class="next" 
        [disabled]="!applicationForm.valid || formSubmitted"
        [ngClass]="{'disabled': !applicationForm.valid || formSubmitted}">
          <p>{{ formSubmitted ? '' : 'NEXT ' }}<img src="assets/arrow.png" *ngIf="!formSubmitted"></p>
          
          <app-spinner *ngIf="formSubmitted"></app-spinner>
      </button>
    </div>
  </form>
</div>
