@import "../../../colors.scss";
@import "../../../cancel.scss";
@import "../../../error.scss";
@import "../../../mixins.scss";
@import "../../../colors.scss";

.screen {
  background-color: $backgroundGray;
  font-family: Gotham, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;

  .content {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    height: calc(100vh - 210px);
    overflow: auto;
    text-align: center;

    .review-text {
      font-weight: 200;
      font-size: 17px;
      letter-spacing: -0.82px;
      margin: 0;
      margin-top: 22px;
      margin-bottom: 20px;
      text-align: center;
    }

    .car-pane {
      text-align: center;
      width: 318px;
      display: inline-block;
      margin: 0;

      .pane-header {
        background-color: #000000;
        margin: 0;
        height: 64px;
        width: 318px;
        display: inline-block;
        padding-top: 14px;
        text-align: center;

        p {
          vertical-align: middle;
          margin: 0;
        }

        .top {
          color: $white;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: -1.26px;
          text-align: center;
        }

        .partial-rule {
          background-color: #555555;
          height: 1px;
          width: 268px;
          border: none;
          margin-left: 25px;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .bottom {
          color: $white;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: -1.11px;
          text-align: center;
        }
      }

      car-tile {
        background-color: $white;
        display: inline-block;
        margin: 0;
        text-align: left;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }

      .edit {
        display: inline-block;
        height: 48px;
        width: 314px;
        margin-top: 14px;
        border: 2px solid #000000;
        border-radius: 5px;

        p {
          font-weight: 700;
          font-size: 17px;
          letter-spacing: -1.26px;
          margin: 0;
          margin-top: 14px;
          text-transform: uppercase;
        }
      }
    }
  }

  .footer {
    height: 90px;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: right;
    float: bottom;
    background-color: #E9E9E9;

    .horizontal-rule {
      height: 1px;
      width: 100vw;
      margin: 0;
      background-color: #CECECE;
    }

    @include cancel;

    @include next;

    .next p {
      padding-top: 0px;
    }

    .next.disabled {
      opacity: 0.28;
    }
  }
}

form.questionnaire {
  .questions {
    @include for-phone-only {
      @include small-scale-input;
    }

    @include for-tablet-portrait-up {
      @include small-scale-input;
    }

    @include for-tablet-landscape-up {
      padding-top: 65px;
      text-align: center;

      text-field {
        text-align: left;
        display: inline-block;
        min-height: 150px;
      }
      .first-name {
        width: 288px;
      }
      .last-name {
        width: 288px;
        margin-left: 50px;
      }
      .zip {
        width: 144px;
        margin-left: 50px;
      }
      .email {
        width: 385px;
      }
      .phone {
        width: 385px;
        margin-left: 50px;
      }
    }
  }
}

